.footer {
    text-align: center;
    padding: 1%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: black;
    color: white;
    height: 5%;
    width: 100%;
}